@model IEnumerable<ArticleFaceViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@{ 
    int nRows = Model.Count() / 3;
}


<div class="row">
    <div class="col-md-3">
        @foreach (var vm in Model.Take(nRows))
        {
                <div class="panel panel-info">
                    <div class="text-right">
                        <a href="#" class="btn btn-primary">
                            <i class="fa fa-star-half-full"></i>
                        </a>
                    </div>

                    <a href="@vm.Url">
                        <div class="panel-body">

                            <h5>@vm.Category</h5>
                            <h3>@vm.Title</h3>

                            @if (vm.ImageUrl != null)
                            {
                                <img src=@vm.ImageUrl class="img-rounded" style="width:100%" />
                            }
                            <label>@vm.Author</label>
                        </div>
                    </a>
                </div>
        } 
    </div>
    <div class="col-md-3">
        @foreach (var vm in Model.Skip(nRows).Take(nRows))
        {
            <div class="panel panel-info">
                <div class="text-right">
                    <a href="#" class="btn btn-primary">
                        <i class="fa fa-star-half-full"></i>
                    </a>
                </div>

                <a href="@vm.Url">
                    <div class="panel-body">

                        <h5>@vm.Category</h5>
                        <h3>@vm.Title</h3>

                        @if (vm.ImageUrl != null)
                        {
                            <img src=@vm.ImageUrl class="img-rounded" style="width:100%" />
                        }
                        <label>@vm.Author</label>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="col-md-3">
        @foreach (var vm in Model.Skip(2 * nRows).Take(nRows))
        {
            <div class="panel panel-info">
                <div class="text-right">
                    <a href="#" class="btn btn-primary">
                        <i class="fa fa-star-half-full"></i>
                    </a>
                </div>

                <a href="@vm.Url">
                    <div class="panel-body">

                        <h5>@vm.Category</h5>
                        <h3>@vm.Title</h3>

                        @if (vm.ImageUrl != null)
                        {
                            <img src=@vm.ImageUrl class="img-rounded" style="width:100%" />
                        }
                        <label>@vm.Author</label>
                    </div>
                </a>
            </div>
        }       
    </div>
</div>
