@model IEnumerable<ArticleFaceViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@{ 
    int nRows = Model.Count() / 3;
}

<div class="row">
    <div class="col-md-3">
        @foreach (var vm in Model.Take(nRows))
        {
            <a href="@vm.Url">
                <div class="panel panel-info">
                    <div class="panel-body">

                        <h5>@vm.Category</h5>
                        <h3>@vm.Title</h3>
                        <label>@vm.Author</label>
                    </div>
                </div>
            </a>
        } 
    </div>
    <div class="col-md-3">
        @foreach (var vm in Model.Skip(nRows).Take(nRows))
        {
            <a href="@vm.Url">
                <div class="panel panel-info">
                    <div class="panel-body">

                        <h5>@vm.Category</h5>
                        <h3>@vm.Title</h3>
                        <label>@vm.Author</label>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="col-md-3">
        @foreach (var vm in Model.Skip(2 * nRows).Take(nRows))
        {
            <a href="@vm.Url">
                <div class="panel panel-info">
                    <div class="panel-body">

                        <h5>@vm.Category</h5>
                        <h3>@vm.Title</h3>
                        <label>@vm.Author</label>
                    </div>
                </div>
            </a>
        }       
    </div>
</div>
